/*import  fonts from google  [font name Jost - Archivo]*/
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');


/*css reseter*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*End of css 
/* Variables*/
:root{
    --primary-color: #CB3A1A;
    --secondary-color: #111111;
    --paragraph-color:#74787c;
    --white:#ffffff;
}

/*End Variables*/
/*Globals*/

 h1{
    font-family: Jost , 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 66px;
    line-height: 76px;
    text-transform: uppercase;
 }
 h2{
    font-family: Jost , 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 48px;
    line-height: 58px;
   text-transform: uppercase;
 }
 h3{
    font-family: Jost , 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 36px;
    line-height: 46px;
   text-transform: uppercase;
 }
 h4{
    font-family: Jost , 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    line-height: 40px;
   text-transform: uppercase;
 }
 h5{
    font-family: Jost , 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    line-height: 34px;
   text-transform: uppercase;
 }
 h6{
    font-family: Jost , 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    line-height: 30px;
   text-transform: uppercase;
 }
 p{
    font-size: 16px;
    line-height: 26px;
 }

body{
    font-family: Archivo , 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*End globals*/



/*Buttons*/

.button4{
   color: var(--white);
   background: none;
   border:1px solid var(--primary-color);
   display: flex;
   justify-content: center;
   align-items: center;
   height: 40px;
   margin-top: 0.3rem;
   padding: 0 0.7rem;
}

.button4 a{
   
   color: var(--white);
   text-decoration: none;
   text-transform: uppercase;
   
}

.button4 a:hover {

   color: var(--primary-color);
   text-decoration: none;
   
}

/*End of Buttons*/
header{
background: var(--secondary-color);
color: var(--white);
}

/*header styling*/
.top-header{
display: flex;
width: 90%;
margin: 0 auto;
justify-content: space-between;
padding: 10px 0;
border-bottom: 1px solid var(--paragraph-color);
}

.second-header{
   display: flex;
   width: 90%;
   margin: 0 auto;
   justify-content: center;
   
}
.logo{
   display: flex;
   justify-content: center;
   align-items: center;
   flex:1;
}
.second-header img{
   width: 32px;
   height: 32px;
   padding: 10px;
}
.second-header p{
   font-family: Jost, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   text-transform: uppercase;
   flex:2;
}

nav{
   flex:3;
}

nav ul{
 padding-top: 18px;
}
nav ul li{
   display: inline;
   padding: 10px;
   
}
nav ul li a{
   text-decoration: none;
   color: var(--white);
   padding: 0 5px;
}

/*ُEnd of header*/


/*slider*/
#slider img{
   height: 60vh;
   width: 100vw;;
}

/*end of slider*/


/*welcome class*/
.welcome-container{
   display: flex;

}
.welcome-container .welcome-image img{
   width: 450px;
   height: auto;
}

.phone .image .img{
   height: 64px;
}